services:
  db:
    image: postgres:15
    container_name: stock-postgres
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: stockdb
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: